@font-face {
    font-family: 'Ubuntu';
    src: url('./Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Ubuntu/Ubuntu-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    background-color: #213;
    color: #ffffffee;

    padding: 2rem;
}

h2 {
    margin: 2rem 0;
}

body a {
    display: flex;
    flex-direction: row;
    width: 20vw;
    color: hsl(340, 100%, 80%);
    background-color: hsl(232, 35%, 40%);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    text-decoration: none;
    transform: translateY(0px);
    height: 100px;
    width: 100px;

    box-shadow: 0 6px hsl(232, 35%, 20%);

    transition: all 0.2s;
}

body a:hover {
    transform: translateY(6px);
    color: hsl(0, 100%, 15%);
    /* filter: drop-shadow(0 4px 22px hsla(336, 55%, 60%, 20%)); */
    background-color: hsl(336, 75%, 55%);
    box-shadow: 0 0;
}

body div {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 8px;
    }

    body a {
        height: 50px;
        padding: 0.5rem;
        width: calc(50% - 2rem);
    }

    h2 {
        margin: 1rem 0;
    }
}